
/* NAVIGATION BAR */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.navbar li {
    display: inline-flex;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        display: none;
    }
    .navbar .toggle-button {
        display: block;
        cursor: pointer;
    }
    .navbar ul.active {
        display: block;
    }
}

.toggle-button {
    display: none;
}
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }
}

/* ABOUT PAGE  */
.about {}

/* CONTACT PAGE */
.contact {}